subgraphs/*
!subgraphs/argent
!subgraphs/common
!subgraphs/governor
!subgraphs/nonstandard-nfts
!subgraphs/poap
!subgraphs/usdt
!subgraphs/top-erc20

node_modules
artifacts
build
cache
generated
generated.yaml

package-lock.json
yarn.lock
